<%-include("header.ejs")%>
<div class="chat-container">
  <div class="chat-header">
    <h1 class="title">Chatbot</h1>
  </div>
  <div id="message-list">
    <p id="date"><%=date%></p>
  </div>

  <form id="chat-form" action="/" method="post">
    <input
      id="message-input"
      type="text"
      name="message"
      autofocus
      autocomplete="off"
      placeholder="Message"
      type="number"
      pattern="[0-9]{1,6}"
    />
    <button type="submit"><i class="bi bi-send"></i></button>
  </form>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="index.js"></script>

<%-include("footer.ejs")%>
