@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600;700&display=swap');
body {
    background-color: cornsilk;
    font-family: 'Poppins', sans-serif;
}

.title {
    font-family: 'Poppins', sans-serif;
}

.chat-container {
    display: flex;
    flex-direction: column;
    height: 90vh;
    max-width: 70%;
    margin: 2% auto;
    border-radius: 15px;
    overflow: hidden;
}

.chat-header {
    background: gray;
    color: #ffffff;
    padding: 10px;
    font-family: cursive;
}

.chat-header h1 {
    margin: 0;
}

#message-list {
    background-color: #25d366;
    background-size: cover;
    background-position: center;
    flex-grow: 1;
    overflow-y: scroll;
    padding: 10px;
}

.chat-message {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 10px;
}

.chat-message.chatbot {
    align-items: flex-end;
}

.message {
    padding: 10px;
    border-radius: 20px;
    max-width: 100%;
}

.chat-message.chatbot .message {
    background-color: #dcf8c6;
    align-self: flex-start;
}

.chat-message.customer .message {
    background-color: rgb(166, 194, 117);
    align-self: flex-end;
}

.meta {
    color: tomato;
}

#date {
    text-align: center;
    color: white;
}

#chat-form {
    background-color: gray;
    display: flex;
    align-items: center;
    padding: 10px;
}

#message-input {
    flex-grow: 1;
    padding: 10px;
    border: none;
    border-radius: 20px;
    width: 95%;
    background-color: #f2f2f2;
}

#chat-form button {
    margin: 0 10px;
    background-color: #f2f2f2;
    color: #25d366;
    border: none;
    border-radius: 50%;
    width: 3rem;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* scrollbar */


/* width */

::-webkit-scrollbar {
    width: 15px;
}


/* Track*/

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}


/* Handle */

::-webkit-scrollbar-thumb {
    border-radius: 2px;
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #25d366;
}


/* mobile styling */

@media only screen and (max-width: 991px) {
    .chat-container {
        max-width: 100%;
        height: 100vh;
        border-radius: 0;
        margin-top: 3px;
    }
}